{% extends 'base_layout.html' %}

{% block content %}

    <h1 class='mt-5'>สร้างโพสต์</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                {% if key_error %}
                    {{ key_error }}
                {% endif %}
                <form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% for each_form in form %}
                            <div class="form-group col-md-6 mb-4">
                                <label for="{{ each_form.id_for_label }}"> {{ each_form.label }}</label>
                                {{ each_form }}
                                <small class="form-text text-muted"> {{ each_form.help_text }} </small>
                                {{ each_form.errors }}
                            </div>
                        {% endfor %}

                    {% if not user.is_authenticated %}
                        <div class="form-group col-md-6">
                            <label>คีย์</label>
                            <input type="text" name='key' class='form-control' required>
                        </div>
                    {% endif %}

                    </div>
                    <input type="submit" value="สร้างโพสต์" class='btn btn-primary'>
                </form>
            </div>
            <div class="col-md-4">
                <div class="card w-100 text-dark mycard">
                    <div class="wrapper">
                        <img class="card-img-top" src="" id="avatar_preview">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>ชื่อโพสต์</b>
                        </h5>
                        <p class="card-text">
                            <p>รายละเอียด</p>
                            <p>สถานที่</p>
                            <p>วันที่</p>
                        </p>
                    </div>
                    <div class="container mb-3 ml-1">
                        <p class="card-text">
                            <span class="badge badge-pill badge-secondary" id='faculty'>มี key</span>
                            <span class="badge badge-pill badge-secondary" id='faculty'>ไม่มี key</span>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <b>เบอร์ติดต่อ : </b> xxx-xxx-xxxx
                            <br>
                            <b>อีเมล์ : </b> example@example.com
                            <br>
                            <b>โดย : </b> {{ request.user }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- <script>
        $(document).ready(function(){
            $('#input-file').attr("multiple","true");
        });
    </script> -->
{% endblock %}