{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 class='mt-2'>โพสต์ : {{ post }} </h1>
        <div class="row">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-8">
                        {% if post.is_active == False %}
                            <p>รายละเอียดเพิ่มเติม</p>
                            <textarea class='form-control h-50 bg-light' style='resize: none;' readonly>{{ post.desc }}</textarea>
                            {% if post.type == 'found' %}
                                <p class='mt-3'>รายละเอียดเกี่ยวกับคนที่มารับของไป</p>
                            {% else %}
                                <p class='mt-3'>รายละเอียดเกี่ยวกับคนที่เจอของ</p>
                            {% endif %}
                            <textarea class='form-control bg-light' style="height: 30%; resize:none;" readonly >{{ post.take_information }}</textarea>
                        {% else %}
                            <p>รายละเอียดเพิ่มเติม</p>
                            <textarea class='form-control bg-light' style='resize: none; height: 90%;' readonly>{{ post.desc }}</textarea>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div class="card w-100 text-dark mycard">
                            <div class="wrapper">
                                {% if post.postpicture_set.all|length == 0 %}
                                    <img class="card-img-top" src="{% static 'images/post_default.gif' %}">
                                {% else %}
                                    <img class="card-img-top" src="{{ post.postpicture_set.all.0.picture.url }}">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <b id='title'> {{ post.title|truncatechars:20 }} </b>
                                </h5>
                                <div class="card-text">
                                    <p id='desc'> {{ post.desc|truncatechars:15 }} </p>
                                    <p class='m-0'>
                                        <small>
                                            <b>ประเภทสิ่งของ : </b> <span id='assetType'> {{ post.assetType }} </span>
                                        </small>
                                    </p>
                                    <p class='m-0'>
                                        <small>
                                            <b>สถานที่ : </b> <span id='location'> {{ post.location }} </span>
                                        </small>
                                    </p>
                                    <p class='m-0'>
                                        <small>
                                            <b>วันและเวลา : </b> <span id='date_time'> {{ post.date_time|date:"d/m/Y H:i" }} </span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="container mb-3 ml-1">
                                <p class="card-text">
                                    {% if post.type == 'found' %}
                                        <span class="badge badge-pill badge-success text-light" id='type'>เจอของหาย</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-danger text-light" id='type'>ตามหาของ</span>
                                    {% endif %}

                                    {% if post.is_active == False %}
                                        <span class="badge badge-pill badge-dark text-light">ปิดแล้ว</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <b>เบอร์ติดต่อ : </b> <span id='contact1'> {{ post.contact1 }} </span>
                                    <br>
                                    <b>อีเมล์ : </b> <span id='contact2'> {{ post.contact2 }} </span>
                                    <br>
                                    <b>โดย : </b> {% if post.user %} {{ post.user.username }} {% else %} Anonymous User {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="container">
                            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">รูปภาพ</h1>
                            <hr class="mt-2 mb-5">
                            {% if post.postpicture_set.all|length == 0 %}
                                <div class="jumbotron col-12 text-center bg-light" id='no-upload'>
                                    <h1>
                                        ไม่มีรูปภาพที่อัพโหลด <br>
                                        <i class="fas fa-not-equal mt-3"></i>
                                    </h1>
                                </div>
                            {% else %}
                                <div class="row text-center text-lg-left">
                                    {% for picture in post.postpicture_set.all %}
                                        <div class="col-3">
                                            <div class="card w-100 mycard mb-5">
                                                <div class="wrapper">
                                                    <img src="{{  picture.picture.url }}" class="card-img-top">
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <div class="container">
                            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">คอมเมนต์</h1>
                            <hr class="mt-2 mb-5">

                            <textarea class='form-control' cols="30" rows="10" style="resize: none;" placeholder="พิมพ์ข้อความ..."></textarea>

                            <button class='btn btn-primary float-right mt-4'>คอมเมนต์</button>
                            <div class="container-fluid mt-5 pt-4">


                                <div class="media my-4">
                                    <img class="mr-3 img-thumbnail rounded-circle" width='64' height='64' src="{% static 'images/user_default.gif' %}" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 text-primary">
                                            <a href="#profile">User01</a>
                                        </h5>
                                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aspernatur odio voluptatum quae maxime, omnis, asperiores animi corrupti recusandae consequuntur praesentium eaque odit nulla cumque illo unde cupiditate sint quas.</small>
                                    </div>
                                </div>

                                <hr>

                                <div class="media my-4">
                                    <img class="mr-3 img-thumbnail rounded-circle" width='64' height='64' src="{% static 'images/user_default.gif' %}" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 text-primary">
                                            <a href="#profile">User02</a>
                                        </h5>
                                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aspernatur odio voluptatum quae maxime, omnis, asperiores animi corrupti recusandae consequuntur praesentium eaque odit nulla cumque illo unde cupiditate sint quas.</small>
                                    </div>
                                </div>

                                <hr>

                                <div class="media my-4">
                                    <img class="mr-3 img-thumbnail rounded-circle" width='64' height='64' src="{% static 'images/user_default.gif' %}" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 text-primary">
                                            <a href="#profile">User03</a>
                                        </h5>
                                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aspernatur odio voluptatum quae maxime, omnis, asperiores animi corrupti recusandae consequuntur praesentium eaque odit nulla cumque illo unde cupiditate sint quas.</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer only detail -->
    <footer class='mt-4'>
        <div style="height: 150px; overflow: hidden;" >
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #0275d8;"></path>
            </svg>
        </div>
    </footer>

{% endblock %}

{% block script %}
    

    <script>
        axios.get('/comment_api/'+ {{post.id}}+'/').then(function (response) {
            console.log(response.data)
        })
    </script>
{% endblock %}