{% extends 'base_layout.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/chat_index_style.css' %}">
{% endblock %}

{% block content %}
<!-- <h1 class='my-5'>ห้องสนทนา</h1> -->
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h3 class='mt-2 text-dark'>แชท</h3>
                    </div>
                    <div class="srch_bar mt-2">
                        <div class="form-group">
                            <div class="input-group">
                                <input id='search_user' type='text' class='form-control' placeholder="ค้นหาผู้ใช้งาน">
                                <span class="input-group-append" id='password_see'>
                                    <span class="input-group-text">
                                        <i id='password-eye' class="fa fa-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat" id='inbox_chat'>
                    <!-- Users Show here -->
                </div>
            </div>
            <div class="mesgs">
                <div class="container-fluid p-0 m-0" style="position: fixed;">
                    <div class="row">
                        <div class="col">
                            <img class='rounded-circle' id='chat_to_img' src="{% static 'images/user_default.gif' %}" height="60px" width="60px">
                            <span class='h5 ml-3' id='chat_to_name'> Loading ... </span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="msg_history" id='msg_history'>
                    <!-- Chat Messages (History) -->

                </div>
                <div class="form-group mt-5" id='input_message_box'>
                    <div class="input-group">
                        <input type="text" class='form-control' id='send_message_input'>
                        <div class="input-group-append" style='cursor: pointer;'>
                            <span class="input-group-text" id='send_message_btn'>
                                <i class="fas fa-paper-plane"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/chat_index_script.js' %}"></script>
{% endblock %}