@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

*{
    font-family: 'Kanit';
    word-wrap: break-word;
}

body{
    animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* card hover animation */
.mycard{
    transition: .2s;
}

.mycard:hover{
    box-shadow: 0 4px 8px 0 gray;
    margin-top: 2%;
}

/* make card (img) to have same height */
.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* dropdown padding */
.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
 }

 .dropdown-menu > a:first-child {
    margin-top: 15px;
 }

 .dropdown-menu > a:last-child {
    margin-bottom: 15px;
 }

 /* delete btn */
 .delete-btn{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-50%);
    z-index: 100;
}

/* rotate image */
.rotate-img{
    transition: .3s;
}

.rotate-img:hover{
    transform: rotate(5deg);
}