{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 text-center border-right p-5">
                <img src="{% static 'images/lost&found.png'%}" alt="" width='100%' class='rotate-img'>
            </div>
            <div class="col-md ml-5">

                <h1 class='mb-5'>เปลี่ยนรหัสผ่าน </h1>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'change_password' %}" class='mt-3'>
                    {% csrf_token %}
                    {% for each_form in form %}
                        <div class="form-group m-0">
                            <label for="{{ each_form.id_for_label }}">{{ each_form.label }}</label>
                            <div class="input-group">
                                {{ each_form }}
                                <div class="input-group-append" id='password_see{{ forloop.counter }}' style='cursor: pointer;'>
                                    <span class="input-group-text">
                                        <i id='password_eye{{ forloop.counter }}' class="fas fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                            <small class='text-muted m-1'> {{ each_form.errors }}</small>
                        </div>
                    {% endfor %}

                    <input type="hidden" name="next_url" value='{{ next_url }}'>
                    <button type="submit" class='btn btn-primary mt-3'>เปลี่ยนรหัสผ่าน</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $('#password_see1').click(function(){
            var password_eye = $('#id_old_password').attr('type');
            if (password_eye == 'password'){
                $('#id_old_password').attr("type","text");
                $('#password_eye1').removeClass('fas fa-eye-slash');
                $('#password_eye1').addClass('fas fa-eye');
            }
            else{
                $('#id_old_password').attr("type","password");
                $('#password_eye1').removeClass('fas fa-eye');
                $('#password_eye1').addClass('fas fa-eye-slash');
            }
        });
        $('#password_see2').click(function(){
            var password_eye = $('#id_new_password1').attr('type');
            if (password_eye == 'password'){
                $('#id_new_password1').attr("type","text");
                $('#password_eye2').removeClass('fas fa-eye-slash');
                $('#password_eye2').addClass('fas fa-eye');
            }
            else{
                $('#id_new_password1').attr("type","password");
                $('#password_eye2').removeClass('fas fa-eye');
                $('#password_eye2').addClass('fas fa-eye-slash');
            }
        });
        $('#password_see3').click(function(){
            var password_eye = $('#id_new_password2').attr('type');
            if (password_eye == 'password'){
                $('#id_new_password2').attr("type","text");
                $('#password_eye3').removeClass('fas fa-eye-slash');
                $('#password_eye3').addClass('fas fa-eye');
            }
            else{
                $('#id_new_password2').attr("type","password");
                $('#password_eye3').removeClass('fas fa-eye');
                $('#password_eye3').addClass('fas fa-eye-slash');
            }
        });
    </script>
{% endblock %}

