{% extends 'base_layout.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/tempus.css' %}">


{% endblock %}

{% block content %}
<div class="container">
    <h1 class='mt-5 mb-5'> โพสต์ของฉัน </h1>
    {% if user.is_authenticated %}
    <h5 class='mb-5'>
        <div class="container">
            <div class="row">

                <div class="col mb-4 rotate-img">
                    <div class="card shadow h-100 py-2" style="border-left:.25rem solid black !important">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-uppercase mb-1">โพสต์ทั้งหมด</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ posts|length }}
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <i class="fas fa-archive fa-2x"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 rotate-img">
                    <div class="card shadow h-100 py-2" style="border-left:.25rem solid #5cb85c !important">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-uppercase mb-1">โพสต์เจอของหาย</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ founds|length }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-folder-open fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 rotate-img">
                    <div class="card shadow h-100 py-2" style="border-left:.25rem solid #d9534f !important">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-uppercase mb-1">โพสต์ตามหาของ</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ losts|length }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-search fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 rotate-img">
                    <div class="card shadow h-100 py-2" style="border-left:.25rem solid #d9534f !important">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-uppercase mb-1">โพสต์ที่ปิดแล้ว</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{ closed }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-times-circle fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h5>
    {% endif %}
    <div class="container">
        {% if posts == 'key' %}
            <div class='col-lg-12 jumbotron text-center border border-dark'>
                <img src="{% static 'images/post.png' %}" width='15%' class='mb-5'>
                <h4 class='mb-3'>กรุณากรอกคีย์เพื่อจัดการโพสต์ของคุณ</h4>
                {% if key_error %}
                    <span class="text-danger">{{ key_error }}</span>
                {% endif %}
                <form action="{% url 'my_posts' %}" method="POST" class=''>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 my-3">
                            <input type="text" name="key" class='form-control' required>
                        </div>
                        <div class="col-4"></div>
                    </div>

                    <input type="submit" class='btn btn-warning' value="ยืนยัน">
                </form>
            </div>

        {% else %}
        <div class="row">
            {% if posts|length == 0 %}
                <div class='col-lg-12 jumbotron text-center border border-dark'>
                    <img src="{% static 'images/post.png' %}" width='15%' class='mb-5'>
                    <h4>ไม่มีโพสต์ที่คุณเคยสร้าง</h4>
                </div>
            {% endif %}
            {% for post in posts %}
                <div class='col-lg-3 my-3'>
                    <div class="card h-100 w-100 text-dark mycard" style='border:none;'>
                        <a href="{% url 'post_delete' post.id %}">
                            <img src="{% static 'images/close.png' %}" alt="" class='top-right-btn' width='35px'>
                        </a>
                        <a class="card h-100 w-100 mb-0 text-decoration-none text-dark" href="{% url 'edit_post' post.id %}">
                            <div class="wrapper">
                                {% if post.postpicture_set.all|length == 0 %}
                                    <img class="card-img-top" src="{% static 'images/post_default.gif' %}">
                                {% else %}
                                    <img class="card-img-top" src="{{ post.postpicture_set.all.0.picture.url }}">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <b>{{ post.title|truncatechars:20 }}</b>
                                </h5>
                                <div class="card-text">
                                    <p>{{ post.desc|truncatechars:15 }}</p>
                                    <p class='m-0'>
                                        <small>
                                            <b>ประเภทสิ่งของ : </b> <span id='assetType'>{{ post.assetType }}</span>
                                        </small>
                                    </p>
                                    <p class='m-0'>
                                        <small>
                                            <b>สถานที่ : </b> <span id='location'> {{ post.location }} </span>
                                        </small>
                                    </p>
                                    <p class='m-0'>
                                        <small>
                                            <b>วันและเวลา : </b> <span id='date_time'> {{ post.date_time|date:"d/m/Y H:i" }} </span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="container mb-3 ml-1">
                                <p class="card-text">
                                    {% if post.type == 'found' %}
                                        <span class="badge badge-pill badge-success text-light">เจอของหาย</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-danger text-light">ตามหาของ</span>
                                    {% endif %}

                                    {% if post.is_active == False %}
                                        <span class="badge badge-pill badge-secondary text-light">โพสต์ปิดแล้ว</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <b>เบอร์ติดต่อ : </b> <span id='contact1'> {{ post.contact1 }} </span>
                                    <br>
                                    <b>อีเมล์ : </b> <span id='contact2'> {{ post.contact2 }} </span>
                                    <br>
                                    <b>โดย : </b> {{ post.user.username }}
                                </small>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}