{% extends 'base_layout.html' %}

{% block content %}
    <h1>Profile ของ {{ user.username }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <div class="card h-100 w-100 text-dark mycard">
                    <div class="wrapper">
                        <img class="card-img-top" src="{{ user.userprofile.avatar.url }}" id="avatar_preview">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <b id='username'> {{ user.username }} </b>
                        </h5>
                        <p class="card-text">
                            <p>
                                <span id='first_name'> {{ user.first_name }} </span>
                                <span id='last_name'> {{ user.last_name }} </span>
                            </p>
                            <p id='email'>อีเมล์</p>
                        </p>
                    </div>
                    <div class="container mb-3 ml-1">
                        <p class="card-text">
                            <span class="badge badge-pill badge-success" id='faculty'> {{ user.userprofile.faculty }}</span>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <b>สมัครสมาชิกวันที่ : </b> {{ user.date_joined|date:"d F Y" }}
                            <br>
                            <b>เวลา : </b> {{ user.date_joined|date:"h:i a" }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}