{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <h1 class='my-5'> สมัครสมาชิก </h1>
    <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-row">
                        {% for each_form in form %}
                            <div class="form-group col-md-6 mb-4">
                                <label for="{{ each_form.id_for_label }}"> {{ each_form.label }}</label>
                                {{ each_form }}
                                <small class="form-text text-muted"> {{ each_form.help_text }} </small>
                                {{ each_form.errors }}
                            </div>
                            {% if forloop.counter0 == 0 %}
                                <div class="form-group col-md-6"></div>
                            {% endif %}
                        {% endfor %}
                        <div class="form-group col-md-6">
                            <label> คณะ </label>
                            <select name="faculty" class='form-control'>
                                {% for faculty in facultys %}
                                    <option value="{{ faculty.id }}">{{ faculty }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6 mb-5">
                            <label>รูปภาพ</label>
                            <div class="custom-file">
                                <input type="file" class='custom-file-input' name='picture' id="input-file">
                                <label class="custom-file-label" for="input-file">อัพโหลดไฟล์</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class='btn btn-primary'>สมัครสมาชิก</button>
                </div>
                <div class="col-md-4">
                    <div class="card h-100 w-100 text-dark mycard">
                        <div class="wrapper">
                            <img class="card-img-top" src="{% static 'images/user_default.gif' %}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <b>ชื่อผู้ใช้งาน</b>
                            </h5>
                            <p class="card-text">
                                <p>ชื่อจริง นามสกุล</p>
                                <p>อีเมล์</p>
                            </p>
                        </div>
                        <div class="container mb-3 ml-1">
                            <p class="card-text">
                                <span class="badge badge-pill badge-success text-light">วิศวรกรรมศาสตร์</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <b>สมัครสมาชิกวันที่ : </b> {% now "d F Y" %}
                                <br>
                                <b>เวลา : </b> {% now "h:i a" %}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}