{% extends 'base_layout.html' %}

{% block content %}
    <h1 class='my-5'> สมัครสมาชิก </h1>

    <form method="POST" action="{% url 'signup' %}" class='needs-validation' novalidate>
        {% csrf_token %}
        {% for each_form in form %}
            <div class="form-group">
                <label for="{{ each_form.id_for_label }}"> {{ each_form.label }}</label>
                {{ each_form }}
                <small class="form-text text-muted"> {{ each_form.help_text }} </small>
                {{ each_form.errors }}
            </div>
        {% endfor %}
        <div class="form-group">
            <label> คณะ </label>
            <select name="faculty" class='form-control'>
                {% for faculty in facultys %}
                    <option value="{{ faculty.id }}">{{ faculty }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class='btn btn-primary'>สมัครสมาชิก</button>
    </form>
{% endblock %}