{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <h1 class='my-5'> สมัครสมาชิก </h1>
    <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-row">
                        {% for each_form in form %}
                            {% if forloop.counter0 == 1 or forloop.counter0 == 2 %}
                                <div class="form-group col-md-6 mb-4">
                                    <label for="{{ each_form.id_for_label }}"> {{ each_form.label }}</label>
                                    <div class="input-group">
                                        {{ each_form }}
                                        <div class="input-group-append" id='password_see{{ forloop.counter0 }}' style='cursor: pointer;'>
                                            <span class="input-group-text">
                                                <i id='password-eye{{ forloop.counter0 }}' class="fas fa-eye-slash"></i>
                                            </span>
                                        </div>
                                    </div>
                                    {{ each_form.errors }}
                                </div>
                            {% else %}
                                <div class="form-group col-md-6 mb-4">
                                    <label for="{{ each_form.id_for_label }}"> {{ each_form.label }}</label>
                                    {{ each_form }}
                                    {{ each_form.errors }}
                                </div>
                            {% endif %}
                            {% if forloop.counter0 == 0 %}
                                <div class="form-group col-md-6"></div>
                            {% endif %}
                        {% endfor %}
                        <div class="form-group col-md-6">
                            <label> คณะ </label>
                            <select name="faculty" class='form-control' id="id_faculty">
                                {% for faculty in facultys %}
                                    <option value="{{ faculty.id }}">{{ faculty }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6 mb-5">
                            <label>รูปภาพ</label>
                            <div class="custom-file">
                                <input type="file" class='custom-file-input' name='picture' id="avatar">
                                <label class="custom-file-label" for="avatar">อัพโหลดไฟล์</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class='btn btn-primary'>สมัครสมาชิก</button>
                </div>
                <div class="col-md-4">
                    <div class="card h-100 w-100 text-dark mycard">
                        <div class="wrapper">
                            <img class="card-img-top" src="{% static 'images/user_default.gif' %}" id="avatar_preview">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <b id='username'>ชื่อผู้ใช้งาน</b>
                            </h5>
                            <p class="card-text">
                                <p>
                                    <span id='first_name'>ชื่อจริง</span>
                                    <span id='last_name'>นามสกุล</span>
                                </p>
                                <p id='email'>อีเมล์</p>
                            </p>
                        </div>
                        <div class="container mb-3 ml-1">
                            <p class="card-text">
                                <span class="badge badge-pill badge-success" id='faculty'>วิศวรกรรมศาสตร์</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <b>สมัครสมาชิกวันที่ : </b> {% now "d F Y" %}
                                <br>
                                <b>เวลา : </b> {% now "h:i a" %}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script>
        /* read URL function */
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#avatar_preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        /* Bind : picture (avatar) */
        $("#avatar").change(function() {
            readURL(this);
            var fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').html(fileName);
        });

        /* Bind: username */
        $("#id_username").on('input', function() {
            var text = $("#id_username").val();
            $("#username").html(text);
        });

        /* Bind: first_name */
        $("#id_first_name").on('input', function() {
            var text = $("#id_first_name").val();
            $("#first_name").html(text);
        });

        /* Bind: last_name */
        $("#id_last_name").on('input', function() {
            var text = $("#id_last_name").val();
            $("#last_name").html(text);
        });

        /* Bind: email */
        $("#id_email").on('input', function() {
            var text = $("#id_email").val();
            $("#email").html(text);
        });

        /* Bind: email */
        $("#id_faculty").on('input', function() {
            var text = $("#id_faculty").find(":selected").text();
            $("#faculty").html(text);
        });

        /* Password see button 1 */
        $('#password_see1').click(function(){
            var password_eye = $('#id_password1').attr('type');

            if (password_eye == 'password'){
                $('#id_password1').attr("type","text");
                $('#password-eye1').removeClass('fas fa-eye-slash');
                $('#password-eye1').addClass('fas fa-eye');
            }
            else{
                $('#id_password1').attr("type","password");
                $('#password-eye1').removeClass('fas fa-eye');
                $('#password-eye1').addClass('fas fa-eye-slash');
            }
        });

        /* Password see button 2 */
        $('#password_see2').click(function(){
            var password_eye = $('#id_password2').attr('type');

            if (password_eye == 'password'){
                $('#id_password2').attr("type","text");
                $('#password-eye2').removeClass('fas fa-eye-slash');
                $('#password-eye2').addClass('fas fa-eye');
            }
            else{
                $('#id_password2').attr("type","password");
                $('#password-eye2').removeClass('fas fa-eye');
                $('#password-eye2').addClass('fas fa-eye-slash');
            }
        });
    </script>
{% endblock %}